<style>
	.item {
		height: 250px;
		text-align: center;
		padding-left: 5px;
		padding-right: 5px;
		margin-bottom: 50px;
	}
	.itemContainer {
		border: 1px solid #aaa;
		height: 250px;
		padding: 15px;
		box-shadow: 7px 7px 10px #2c3e50;
	}
	.page-header {
		margin-top: 15px;
	}
</style>
<div class="container" *ngIf="project">
	<header>
		<project-nav></project-nav>
		<!--<h1 class="page-header">Project {{project.name}}</h1>-->
	</header>
	<div class="row">
		<div class="col-md-12">
			<div *ngFor="let item of items" class="col-md-4 item">
				<div class="itemContainer">
					<h2 class="page-header">{{item.name}}</h2>
					<a [routerLink]="item.link">{{item.linkName}}</a>
				</div>
			</div>
		</div>
	</div>
</div>